# DJANGO
DJANGO_SECRET_KEY=cambie-esta-clave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# OPENWEATHERMAP
OPENWEATHER_API_KEY=SU_API_KEY
OPENWEATHER_DEFAULT_CITY=Quito

# BREVO SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=SU_LOGIN_SMTP_BREVO
EMAIL_HOST_PASSWORD=SU_SMTP_KEY_BREVO
DEFAULT_FROM_EMAIL=SU_REMITENTE_VERIFICADO

# FTP
FTP_HOST=ftp.su-servidor.com
FTP_PORT=21
FTP_USER=usuario
FTP_PASSWORD=clave
FTP_REMOTE_DIR=/public_html/materials_fadrell
FTP_USE_TLS=False
